@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}

#list ul {
  list-style: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
